<div style="float: left;" class="page-wrapper chiller-theme toggled">
  <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
      <div class="sidebar-brand">
        <a href="#">pro sidebar</a>
        <div id="close-sidebar">
          <i class="fas fa-times"></i>
        </div>
      </div>
      <div class="sidebar-header">
        <div class="user-pic">
          <img class="img-responsive img-rounded"
               src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg"
               alt="User picture">
        </div>

        <div class="user-info">
          <a class="btn" mat-button [matMenuTriggerFor]="quiz">
                    <span class="user-name">
          <strong style="color: white">{{getUserName()}}</strong>
        </span>
          </a>
          <span class="user-role">{{getRole()}}</span>
          <span class="user-status">
          <i class="fa fa-circle">
          <span *ngIf="checkLogin()">Online</span>
          </i>
            <span *ngIf="!checkLogin()">Offline</span>
          </span>

        </div>
      </div>

      <!-- #docregion sub-menu -->
      <mat-menu #quiz="matMenu">
        <span *ngIf="checkAdmin()||checkUser()">
                <a class="nav-link" (click)="logout()">Đăng xuất</a><br>
                <a class="nav-link" (click)="changePassword()">Đổi mật khẩu</a>
              </span>
      </mat-menu>

      <div class="sidebar-menu">
        <ul>

          <li class="sidebar-dropdown" routerLink="/login">
            <a class="nav-link" routerLinkActive="active">
              <span *ngIf="!checkLogin()">Đăng nhập</span></a>
          </li>
          <div *ngIf="checkAdmin()">
            <li class="sidebar-dropdown" routerLink="/quizzes">
              <a class="nav-link">
                <span>Danh sách câu hỏi</span></a>
            </li>
            <li class="sidebar-dropdown" routerLink="/category-list">
              <a class="nav-link">
                <span>Danh sách đề thi</span></a>
            </li>

            <li class="sidebar-dropdown" routerLink="/exam">
              <a class="nav-link">
                <span>Bài thi</span></a>
            </li>

            <li class="sidebar-dropdown" routerLink="/user-list">
              <a class="nav-link">
                <span>Danh sách người dùng</span></a>
            </li>
          </div>
        </ul>
      </div>
    </div>
    <div class="sidebar-footer">
      <a href="#">
        <i class="fa fa-bell"></i>
        <span class="badge badge-pill badge-warning notification">3</span>
      </a>
      <a href="#">
        <i class="fa fa-envelope"></i>
        <span class="badge badge-pill badge-success notification">7</span>
      </a>
      <a href="#">
        <i class="fa fa-cog"></i>
        <span class="badge-sonar"></span>
      </a>
      <a href="#">
        <i class="fa fa-power-off"></i>
      </a>
    </div>
  </nav>

</div>
