<div class="row">
  <div class="col-sm-2">
    <app-sidebar></app-sidebar>
  </div>
  <div class="col-sm-10 " style="left: 320px;top: 15px">
    <div class="row " >
      <div class="col-md-6">
        <div class="card shadow-lg">
          <div class="card-header">
            <h4> Cập nhật câu hỏi</h4>
          </div>
          <div class="card-body">
            <form #addQuiz="ngForm">
              <div class="form-group">
                <label for="category_id">Đề thi</label>
                <select class="form-control" name="category_id" id="category_id" [(ngModel)]="quiz.category_id" #quizCategory="ngModel">
                  <option *ngFor="let category of categories| async" value="{{category.id}}" >{{category.name}}</option>
                </select>
                <div *ngIf="quizCategory.errors && (quizCategory.valid || quizCategory.touched)">
                  <small class="text-danger" *ngIf="quizCategory.errors.required">Tên đề thi không được để trống</small>
                </div>
              </div>
              <div class="form-group">
                <label>Câu hỏi</label>
                <div class="col-12-mb-5">
                  <mat-form-field class="example-full-width">
                <textarea  matInput type="text" [(ngModel)]="quiz.text" name="name" required
                           #quizName="ngModel" [class.is-invalid]="quizName.invalid && quizName.touched"
                           placeholder="Tên câu hỏi "></textarea>
                  </mat-form-field>
                  <div *ngIf="quizName.errors && (quizName.valid || quizName.touched)">
                    <small class="text-danger" *ngIf="quizName.errors.required">Tên đề thi không được để trống</small>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>Đáp án 1 :     <input (click)="correctOption(quiz.option1)" type="checkbox" id="checkboxOption1" ><span>    Đáp án đúng</span></label>
                <div class="col-12-mb-5">
                  <mat-form-field class="example-full-width">
                <textarea  matInput type="text" [(ngModel)]="quiz.option1" name="option1" required
                           #quizoption1="ngModel" [class.is-invalid]="quizoption1.invalid && quizoption1.touched"
                           placeholder="Đáp án 1 "></textarea>
                  </mat-form-field>
                  <div *ngIf="quizoption1.errors && (quizoption1.valid || quizoption1.touched)">
                    <small class="text-danger" *ngIf="quizoption1.errors.required">Không được để trống đáp án</small>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>Đáp án 2:     <input type="checkbox" (click)="correctOption(quiz.option2)" id="checkboxOption2" ><span>    Đáp án đúng</span></label>
                <div class="col-12-mb-5">
                  <mat-form-field class="example-full-width">
                <textarea  matInput type="text" [(ngModel)]="quiz.option2" name="option2" required
                           #quizoption2="ngModel" [class.is-invalid]="quizoption2.invalid && quizoption2.touched"
                           placeholder="Đáp án 2 "></textarea>
                  </mat-form-field>
                  <div *ngIf="quizoption2.errors && (quizoption2.valid || quizoption2.touched)">
                    <small class="text-danger" *ngIf="quizoption2.errors.required">Không được để trống đáp án</small>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>Đáp án 3:      <input (click)="correctOption(quiz.option3)" type="checkbox" id="checkboxOption3" ><span>    Đáp án đúng</span></label>
                <div class="col-12-mb-5">
                  <mat-form-field class="example-full-width">
                <textarea  matInput type="text" [(ngModel)]="quiz.option3" name="option3" required
                           #quizoption3="ngModel" [class.is-invalid]="quizoption3.invalid && quizoption3.touched"
                           placeholder="Đáp án 3 "></textarea>
                  </mat-form-field>
                  <div *ngIf="quizoption3.errors && (quizoption3.valid || quizoption3.touched)">
                    <small class="text-danger" *ngIf="quizoption3.errors.required">Không được để trống đáp án</small>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>Đáp án 4:      <input type="checkbox" (click)="correctOption(quiz.option4)" id="checkboxOption4" ><span>    Đáp án đúng</span></label>
                <div class="col-12-mb-5">
                  <mat-form-field class="example-full-width">
                <textarea  matInput type="text" [(ngModel)]="quiz.option4" name="option4" required
                           #quizoption4="ngModel" [class.is-invalid]="quizoption4.invalid && quizoption4.touched"
                           placeholder="Đáp án 4 "></textarea>
                  </mat-form-field>
                  <div *ngIf="quizoption4.errors && (quizoption4.valid || quizoption4.touched)">
                    <small class="text-danger" *ngIf="quizoption4.errors.required">Không được để trống đáp án</small>
                  </div>
                </div>
              </div>
              <div style="float: right;"><button (click)="goToList()" class="btn btn-primary">Quay lại danh sách</button></div>
              <button [disabled]="addQuiz.form.invalid"  class="btn btn-success" (click)="onSubmit()">Cập nhật</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
