.registerButton {
  width: 21rem;
}

body {
  background-color: whitesmoke;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.div_register{
  border-radius: 10px;
  background-color: lightsteelblue!important;
  color: black!important;
  margin-top: 20px;
}
.card_register{
  margin-top: 10px;
}
.input_text{
  font-size: 15px;
}
.quiz_image{
  width: 100%;
  height: 30%;
}
