<!-- <div style="text-align: center; color:#3399ff;"> <i style="font-size: 40px;"> Quiz </i>
</div> -->
<br>
<br>
<div class="row justify-content-center mb-3">
    <div class="card shadow-lg p-3 mb-5 bg-white rounded" style="width: 25rem; height: 35rem;">
        <div class="card-header" style="text-align: center;color: green;">
            <h1 style="font-size: 40px;">Đăng ký</h1>
        </div>
        <div class="card-body">
            <form #login="ngForm">
              <div class="mb-3">
                <mat-form-field class="example-full-width">
                  <input matInput  type="text" [(ngModel)]="name" name="userName" required #userName="ngModel" [class.is-invalid]="userName.invalid && userName.touched" placeholder="Tên người dùng ">
                </mat-form-field>
                <div *ngIf="userName.errors && (userName.valid || userName.touched)">
                  <small class="text-danger" *ngIf="userName.errors.required">Tên người dùng không được để trống</small>
                </div>
              </div>
              <div class="mb-3">
                <mat-form-field class="example-full-width">
                  <input matInput [(ngModel)]="email" name="email" required email type="text"  #emails='ngModel' [class.is-invalid]="emails.invalid && emails.touched"  placeholder="Nhập email">
                </mat-form-field>
                <div *ngIf="emails.errors && (emails.valid || emails.touched)">
                  <small class="text-danger" *ngIf="emails.errors.required">Email không được để trống</small>
                  <small class="text-danger" *ngIf="emails.errors.email">Email phải nhập đúng định dạng</small>
                </div>
              </div>
              <div class="mb-3">
                <mat-form-field class="example-full-width">
                  <input matInput [type]="hide ? 'password' : 'text'" type="password" [(ngModel)]="userPassword" name="password" required pattern="[\w]+[\w]{5,}" #password="ngModel" [class.is-invalid]="password.invalid && password.touched" placeholder="Mật khẩu">
                  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                </mat-form-field>
                <div *ngIf="password.errors && (password.valid || password.touched)">
                  <small class="text-danger" *ngIf="password.errors.required">Mật khẩu không được để trống</small>
                  <small class="text-danger" *ngIf="password.errors.pattern">Mật khẩu phải hơn 6 ký tự và không được dùng ký tự đặc biệt</small>
                </div>
              </div>
              <div class="mb-3">
                <mat-form-field class="example-full-width">
                  <input matInput [type]="hide2 ? 'newPasswordConfirm' : 'text'" [(ngModel)]="newPasswordConfirm"  type="password" required  #newPassAgain="ngModel" [class.is-invalid]="newPassAgain.invalid && newPassAgain.touched" id="name" name="newPassAgain" placeholder="Nhập lại mật khẩu" />
                  <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide newPasswordConfirm'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                </mat-form-field>
                <div *ngIf="newPassAgain.errors && (newPassAgain.valid || newPassAgain.touched)">
                  <small class="text-danger" *ngIf="newPassAgain.errors.required">Mật khẩu mới không được để trống</small>
                </div>
                <div *ngIf="newPassAgain.valid && newPassAgain.value != password.value">
                  <small class="text-danger" *ngIf="newPassAgain.valid && newPassAgain.value != password.value">Mật khẩu không khớp </small>
                </div>
              </div>
                <div class="div_submit" style="text-align: center;">
                    <button class="btn btn-success" [disabled]="login.form.invalid" (click)="onSubmit()">Đăng ký</button>
                </div>
            </form>

        </div>
    </div>
</div>
