
<!--<div class="panel-header panel-header-sm">-->
<!--</div>-->
<!--<div class="registerForm">-->
<!--  <br>-->
<!--  <br>-->
<!--  <h1 style="text-align: center;font-size: 50px">Đăng ký</h1>-->
<!--  <form #loginForm="ngForm" novalidate (ngSubmit)="onSubmit()">-->
<!--    <div class="form-group  form_input_login">-->
<!--      <label for="userName">Tên người dùng</label>-->
<!--      <input id="userName" type="text" name="name" class="form-control input_form_login" required [(ngModel)]="name"-->
<!--             #userName="ngModel">-->
<!--    </div>-->
<!--    <div *ngIf="submitted">-->
<!--      <div *ngIf="userName.errors" style="color: red">-->
<!--        <p class="text-danger form_input_login" *ngIf="userName.errors.required">*Vui lòng nhập tên người dùng!</p>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="form-group  form_input_login">-->
<!--      <label>Email</label>-->
<!--      <input type="text" id="email" name="email" required class="form-control input_form_login" email-->
<!--             [(ngModel)]="email"-->
<!--             #userEmail="ngModel">-->
<!--    </div>-->
<!--    <div *ngIf="submitted">-->
<!--      <div *ngIf="userEmail.errors" style="color: red">-->
<!--        <p class="text-danger form_input_login" *ngIf="userEmail.errors.required">*Vui lòng nhập địa chỉ email!</p>-->
<!--        <p class="text-danger form_input_login" *ngIf="userEmail.errors.email">*Email sai định dạng!</p>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="form-group form_input_login">-->
<!--      <label>Mật khẩu</label>-->
<!--      <input type="password" id="password" name="password" class="form-control input_form_login" required minlength="6"-->
<!--             maxlength="8"-->
<!--             [(ngModel)]="password" #passLogin="ngModel">-->
<!--    </div>-->
<!--    <div *ngIf="submitted">-->
<!--      <div *ngIf="passLogin.errors" style="color: red">-->
<!--        <p class="text-danger form_input_login" *ngIf="passLogin.errors.required">*Vui lòng nhập mật khẩu!</p>-->
<!--        <p class="text-danger form_input_login" *ngIf="passLogin.errors.minlength">*Độ dài mật khẩu từ 6-8 kí tự!</p>-->
<!--        <p class="text-danger form_input_login" *ngIf="passLogin.errors.maxlength">*Độ dài mật khẩu từ 6-8 kí tự!</p>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="form-group form_input_login">-->
<!--      <label>Nhập lại mật khẩu</label>-->
<!--      <input type="password" id="confirm_password" name="password" class="form-control input_form_login" required-->
<!--             minlength="6" maxlength="8">-->
<!--    </div>-->
<!--    <div class="div_submit">-->
<!--      <button class="btn btn_blue">Đăng ký</button>-->
<!--    </div>-->
<!--    </form>-->
<!--</div>-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>

<body>
<div style="text-align: center; color:#3399ff;"> <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-menu-button" viewBox="0 0 16 16">
</svg> <i style="font-size: 40px;"> Quiz </i></div>
<br>
<br>
<div class="row justify-content-center">
  <div class="card shadow-lg p-3 mb-5 bg-white rounded" style="width: 25rem; height: 45rem;">
    <div class="card-body">

      <form #loginForm="ngForm" novalidate (ngSubmit)="onSubmit()">
        <div class="form-group  form_input_login mb-4">
          <label for="userName">Tên người dùng</label>
          <input id="userName" type="text" name="name" class="form-control input_form_login" required [(ngModel)]="name"
                 #userName="ngModel" placeholder="*Nhập tên người dùng vào đây">
        </div>
        <div *ngIf="userName.invalid && (userName.dirty || userName.touched)" class="userName">
          <div *ngIf="userName.errors.required" style="color: red">
            *Vui lòng nhập tên người dùng
          </div>
        </div>
        <div class="form-group  form_input_login mb-3">
          <label>Tài khoản email</label>
          <input   type="text" name="email" class="form-control input_form_login" email required [(ngModel)]="email"
                   #emailLogin="ngModel" placeholder="*Nhập email vào đây">
        </div>
        <div *ngIf="emailLogin.invalid && (emailLogin.dirty || emailLogin.touched)" class="category_name">
          <div *ngIf="emailLogin.errors.required" style="color: red">
            *Không được để trống email
          </div>
          <div *ngIf="emailLogin.errors.email" style="color: red">
            *Email không đúng định dạng
          </div>
        </div>
        <div class="form-group form_input_login mb-3">
          <label>Mật khẩu</label>
          <input type="password" name="password" class="form-control input_form_login" required minlength="6" [(ngModel)]="password"
                 #passwordLogin="ngModel" placeholder="*Nhập mật khẩu vào đây">
        </div>
        <div *ngIf="passwordLogin.invalid && (passwordLogin.dirty || passwordLogin.touched)" class="category_name">
          <div *ngIf="passwordLogin.errors.required" style="color: red">
            *Không được để trống mật khẩu
          </div>
          <div *ngIf="passwordLogin.errors.minlength" style="color: red">
            *Mật khẩu phải ít nhất 6 ký tự
          </div>
        </div>
        <div class="mb-3">
          <mat-form-field class="example-full-width">
            <input matInput [type]="hide ? 'newPasswordConfirm' : 'text'" [(ngModel)]="newPasswordConfirm"  type="password" required  #newPassAgain="ngModel" [class.is-invalid]="newPassAgain.invalid && newPassAgain.touched" id="name" name="newPassAgain" placeholder="Nhập lại mật khẩu" />
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide newPasswordConfirm'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
          <div *ngIf="newPassAgain.errors && (newPassAgain.valid || newPassAgain.touched)">
            <small class="text-danger" *ngIf="newPassAgain.errors.required">Mật khẩu mới không được để trống</small>
          </div>
          <div *ngIf="newPassAgain.valid && newPassAgain.value != password.value">
            <small class="text-danger" *ngIf="newPassAgain.valid && newPassAgain.value != password.value">Mật khẩu không khớp </small>
          </div>
        </div>
        <div class="div_submit mb-3">
          <button class="buttonSign btn btn-success" [disabled]="loginForm.form.invalid">Đăng ký tài khoản</button>
        </div>
        <hr>
        <div style="text-align: center;" class="mb-4">
          <a (click)="gotoLogin()" class="btn btn-link">Bạn có tài khoản? Đăng nhập</a>
        </div>
      </form>
    </div>
  </div>
</div>
</body>

</html>
