<div class="container">
  <div class="card">

    <div class="card-header">
      Register user
    </div>
    <div class="card-body">
      <form action="" class="form-group">
        <label for="name">User Name</label>
        <input type="text" name="name" id="name" placeholder="Enter your User Name" class="form-control " [(ngModel)]="user.name"><br>
        <label for="email">Email</label>
        <input type="email" name="email"  id="email"placeholder="Enter your email" class="form-control" [(ngModel)]="user.email"><br>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Enter your Password" class="form-control" [(ngModel)]="user.password"><br>
        <button (click)="register()">Register</button>
      </form>
    </div>
  </div>
</div>

