<div class="row">
  <div class="col-sm-2">
    <app-sidebar></app-sidebar>
  </div>

  <div class="col-sm-6 " style="left: 320px">
    <div class="card shadow-lg" style="position: relative;top: 100px;">
      <div class="card-header">
        <h3>Cập nhật đề thi</h3>
      </div>
      <div class="card-body">
        <form #formCategory="ngForm">
          <div class="form-group col-sm-12">
            <label>Đề thi</label>
            <div class="col-12-mb-5">
              <mat-form-field class="example-full-width">
                <textarea cols="100" rows="20" matInput type="text" [(ngModel)]="category.name" name="userName" required
                          #categoryName="ngModel" [class.is-invalid]="categoryName.invalid && categoryName.touched"
                          placeholder="Tên Đề Thi "></textarea>
              </mat-form-field>
              <div *ngIf="categoryName.errors && (categoryName.valid || categoryName.touched)">
                <small class="text-danger" *ngIf="categoryName.errors.required">Tên đề thi không được để trống</small>
              </div>
            </div>
          </div>
          <div style="float: right;">
            <button (click)="goToList()" class="btn btn-success">Quay lại</button>
          </div>
          <button [disabled]="formCategory.form.invalid" (click)="onSubmit()" class="btn btn-primary">Cập nhật</button>
        </form>
      </div>
    </div>
  </div>
</div>







