<!--<div class="panel-header panel-header-sm">-->
<!--</div>-->

      <div class="loginForm">
        <br>
        <br>
        <h1 style="text-align: center">Đăng nhập</h1>
        <form #loginForm="ngForm" novalidate (ngSubmit)="onSubmit()">
          <div class="form-group  form_input_login">
            <label>Tài khoản email</label>
            <input   type="text" name="email" class="form-control input_form_login" email required [(ngModel)]="email"
                   #emailLogin="ngModel">
          </div>
          <div *ngIf="submitted">
            <div *ngIf="emailLogin.errors" style="color: red">
              <p class="text-danger form_input_login" *ngIf="emailLogin.errors.required">*Vui lòng nhập địa chỉ
                email!</p>
              <p class="text-danger form_input_login" *ngIf="emailLogin.errors.email">*Email không hợp lệ!</p>
            </div>
          </div>
          <div class="form-group form_input_login">
            <label>Mật khẩu</label>
            <input type="password" name="password" class="form-control input_form_login" required [(ngModel)]="password"
                   #passLogin="ngModel">
          </div>
          <div *ngIf="submitted">
            <div *ngIf="passLogin.errors" style="color: red">
              <p class="text-danger form_input_login" *ngIf="passLogin.errors.required">*Vui lòng nhập mật khẩu!</p>
            </div>
          </div>
          <div class="div_submit">
            <button class="btn btn_blue">Đăng nhập</button>
          </div>
        </form>
      </div>



<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <div class="col-sm-6 col-md-4 col-md-offset-4">-->
<!--      <h1 class="text-center login-title">Sign in to continue to Bootsnipp</h1>-->
<!--      <div class="account-wall">-->
<!--        <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"-->
<!--             alt="">-->
<!--        <form class="form-signin" #loginForm="ngForm" novalidate (ngSubmit)="onSubmit()">-->
<!--&lt;!&ndash;          <div class="form-group  form_input_login">&ndash;&gt;-->
<!--&lt;!&ndash;            <label>Tài khoản email</label>&ndash;&gt;-->
<!--            <input type="text" name="email" class="form-control input_form_login" email required [(ngModel)]="email"-->
<!--                   #emailLogin="ngModel">-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--          <div *ngIf="submitted">-->
<!--            <div *ngIf="emailLogin.errors" style="color: red">-->
<!--              <p class="text-danger form_input_login" *ngIf="emailLogin.errors.required">*Vui lòng nhập địa chỉ-->
<!--                email!</p>-->
<!--              <p class="text-danger form_input_login" *ngIf="emailLogin.errors.email">*Email không hợp lệ!</p>-->
<!--            </div>-->
<!--          </div>-->
<!--&lt;!&ndash;          <div class="form-group form_input_login">&ndash;&gt;-->
<!--&lt;!&ndash;            <label>Mật khẩu</label>&ndash;&gt;-->
<!--            <input type="password" name="password" class="form-control input_form_login" required [(ngModel)]="password"-->
<!--                   #passLogin="ngModel">-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--          <div *ngIf="submitted">-->
<!--            <div *ngIf="passLogin.errors" style="color: red">-->
<!--              <p class="text-danger form_input_login" *ngIf="passLogin.errors.required">*Vui lòng nhập mật khẩu!</p>-->
<!--            </div>-->
<!--          </div>-->
<!--          <button class="btn btn-lg btn-primary btn-block" type="submit">-->
<!--            Sign in</button>-->
<!--          <label class="checkbox pull-left">-->
<!--            <input type="checkbox" value="remember-me">-->
<!--            Remember me-->
<!--          </label>-->
<!--          <a href="#" class="pull-right need-help">Need help? </a><span class="clearfix"></span>-->
<!--        </form>-->
<!--      </div>-->
<!--      <a href="#" class="text-center new-account">Create an account </a>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

