<br>
<div class="row justify-content-center mb-3 login_body">
    <div class="card shadow-lg p-3 mb-5 bg-white rounded" style="width: 25rem; height: 45rem;">
      <div class="card-img">
        <mat-icon svgIcon="unicorn"></mat-icon>
      </div>
        <div class="card-header div_login" style="text-align: center;color: green;background-color: #e7e8e7">
            <h1 class="card_login" style="font-size: 40px;">Đăng Nhập</h1>
        </div>
        <div class="card-body">
          <img class="quiz_image" src="https://www.drupal.org/files/project-images/quiz-image_0.jpg" alt="quiz image">
            <form #loginForm="ngForm" >
              <br>
              <br>
              <div class="mb-3">
                <mat-form-field class="example-full-width input_text">
                  <input matInput [(ngModel)]="email" name="email" required email type="text"  #emails='ngModel' [class.is-invalid]="emails.invalid && emails.touched"  placeholder="Nhập email">
                </mat-form-field>
                <div *ngIf="emails.errors && (emails.valid || emails.touched)">
                  <small class="text-danger" *ngIf="emails.errors.required">Email không được để trống</small>
                  <small class="text-danger" *ngIf="emails.errors.email">Email phải nhập đúng định dạng</small>
                </div>
              </div>
              <div class="mb-3">
                <mat-form-field class="example-full-width input_text">
                  <input matInput [type]="hide ? 'password' : 'text'" placeholder="Nhập mật khẩu" [(ngModel)]="password" name="password" required pattern="[\w]+[\w]{5,}" type="password"  #pass='ngModel' [class.is-invalid]="pass.invalid && pass.touched">
                  <a mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </a>
                </mat-form-field>
                <div *ngIf="pass.errors && (pass.valid || pass.touched)">
                  <small class="text-danger" *ngIf="pass.errors.required">Mật khẩu không được để trống</small>
                  <small class="text-danger" *ngIf="pass.errors.pattern">Mật khẩu phải hơn 6 ký tự và không được dùng ký tự đặc biệt</small>
                </div>
              </div>
              <div class="div_submit">
                <button class="loginButton btn btn-success" (click)="onSubmit()"  [disabled]="loginForm.form.invalid">Đăng nhập</button>
              </div>

                <hr>
                <div style="text-align: center;" class="mb-3">
                    <a class="btn btn-link" (click)=goToRegister()>Đăng ký tài khoản</a> | <a class="btn btn-link" (click)="goToHome()" >Trở về trang chủ</a>
                </div>
            </form>
        </div>
    </div>
</div>
