<!-- <form>
    <div class="row">

        <div class="card">

            <div class="card-header">
                Đề thi
            </div>
            <div class="card-body">
                <div class="form-group" *ngFor='let category of categories|async'>
                    <input (click)="chooseExam(category.id)" type="radio" name="options" id="checkboxOption3"><span>{{ category.name }}</span>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="card-header">
                Câu hỏi
            </div>
            <div class="card-body">
                <div class="form-group" *ngFor='let quiz of quizzes|async'>
                    <input type="checkbox"><span>{{ quiz.title }}: {{ quiz.text }}</span>

                </div>
            </div>
        </div>

    </div>
    <button>Tạo</button>
</form> -->