<div class="row mt-3">
    <div class="col-sm-2">
        <app-sidebar></app-sidebar>
    </div>
    <div *ngIf="isEmptyToken()" class="col-sm-10">
        <div class="card ">
            <!-- <div class="container-fulid "> -->
            <h3 class="mt-2 card-header">Đề thi</h3>
            <div class="row">
                <div class=" col-lg-4 col-md-6 col-12" *ngFor='let item of exams| async'>
                    <div class="card overflow-hidden shadow ml-3 mb-3">
                        <div class="card-body p-0 d-flex align-items-center ">
                            <div class="bg-gradient-info py-5 text-center mfe-3 col-3">
                                <i class="fa fa-2x fa-question">
                </i>
                                <img src="https://file.vforum.vn/hinh/2014/4/hoi-cham-4.jpg" alt="" style="width: 100px; height: 100px;">
                            </div>
                            <div class="col-8" style="text-align: center; font-size: 10px;">
                                <button (click)="gotoTest(item.id)" href=" " class="btn btn-link display-1">
                  <h1>{{ item.name}}</h1>
                </button>
                                <div class="text-muted text-uppercase font-weight-bold small ">
                                    <h3>Questions: <strong>10</strong></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="!isEmptyToken()" class="col-sm-10">
        <h1>Quý khách vui lòng đăng nhập trước khi làm bài</h1>
    </div>
</div>